$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1200px;
$widescreenMonitorBreakpoint : 1920px;

body{
    background-color: #ffffe0;
    color: #4d5359;
}

@import 'card-overview';
@import 'login';
@import 'recipe-details';
