.card-container {
    padding: 1em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b1d8b9;
    margin: 1em 0;
    padding: 0;
}

a {
    color: #4d5359;
}

a:hover {
    color: #4d5359;
}